.App {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: transparent;
}

*:focus {
    outline: none;
}

.section {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    font-size: x-large;
    padding: 10px;
    
    background-color: rgba(255, 192, 203, 0.8);
    margin: 20px;
    border-radius: 30px;
    border: 8px solid white;
    width: 512px;
}

.gest-input {
    background-color: transparent;
    border: transparent;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    font-size: xx-large;
    width: 100px;
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}

.datepick {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    font-size: x-large;
    padding: 10px;
    
    background-color: pink;
    margin: 20px;
    border-radius: 30px;
    border: 8px solid white;
}

.label {
    /* text-align: right; */
    font-size: medium;
    margin-bottom: 15px;
}