.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vh;
    width: 100%;
    background-color: transparent;
}

*:focus {
    outline: none;
}

.section {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    font-size: x-large;
    padding: 10px;
    
    background-color: rgba(255, 192, 203, 0.8);
    margin: 20px;
    border-radius: 30px;
    border: 8px solid white;
}

.gest-input {
    background-color: transparent;
    border: transparent;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    font-size: xx-large;
    width: 100px;
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}

.birthday {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.gest1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.calcday {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

.gest2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

.datepick {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    font-size: x-large;
    padding: 10px;
    
    background-color: pink;
    margin: 20px;
    border-radius: 30px;
    border: 8px solid white;
}

.label {
    /* text-align: right; */
    font-size: medium;
    margin-bottom: 15px;
}