.App {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: transparent;
}

*:focus {
    outline: none;
}

.section {
    color: white;
    font-size: x-large;
    padding: 10px;
    max-width: 480px;
    max-height: 150px;
    background-color: rgba(255, 192, 203, 0.8);
    margin: 1%;
    border-radius: 20px;
    border: 3px solid white;
    width: 96%;
}

.gest-input {
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: xx-large;
    width: 20%;
    text-align: right;
    margin-right: 5%;
    margin-top: 5%;
}

.datepick {
    color: white;
    font-size: x-large;
    padding: 2%;
    width: 70%;
    background-color: pink;
    margin: 5%;
    border-radius: 10px;
    border: 3px solid white;
}

.label {
    font-size: medium;
    /* margin-bottom: 2%; */
}

.note {
    font-size: medium;
    text-align: right;
}

.title {
    font-size: large;
    color: white;
    font-weight: bold;
    margin: 20px;
}

.footer {
    font-size: small;
    color: white;
}